
<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="ver-series">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Series</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="categorias">
        <ion-icon name="folder-open"></ion-icon>
        <ion-label>Categorias</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="buscador">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscador</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
