<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon slot="start" routerLink="/" name="chevron-back-outline"></ion-icon>
    <div class="avatar-contenedor" routerLink="/home">
      <ion-avatar >
        <ion-img src="../../assets/icon/logo.webp" alt="Series Chulas"></ion-img>
      </ion-avatar>
    </div>
    <ion-buttons slot="end" id="back">
      <ion-menu-button menu="primerMenu" color="primary">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




