
<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-top ion-text-center">
    <ion-title>
        <p>Roberto Casabán</p>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container" class="background-container">
      <div class="fondo">
      <h1 class="ion-padding-bottom">SERIES<span>CHULAS</span></h1>
      </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/buscador" color="primary">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
